*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat light', sans-serif;
    src: url(./Montserrat/Montserrat-Light.ttf)
}

@font-face {
    font-family: 'Montserrat regular', sans-serif;
    src: url(./Montserrat/Montserrat-Regular.ttf) 
}

@font-face {
    font-family: 'Montserrat medium', sans-serif;
    src: url(./Montserrat/Montserrat-Medium.ttf);
}
body{
    font-family: 'Montserrat regular', sans-serif;
    color: #1D2257;
}

button{
    font-family: 'Montserrat-Medium';
}

a{
    font-family: 'Montserrat-Medium';
}

p,
label{
    font-family: 'Montserrat-Light';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    
}

.navbar-brand img{
  width: 100%;
  margin-left: 1rem;
  /* height: 4.5rem; */
}

p {
    font-weight: light;
}


.carousel-item{
    position: relative;
    background-size: cover;
    height: 400px;
}
.carousel-item:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(7, 5, 5, 0.5);
}

.carousel-caption{
    width: 100%;
    position: absolute;
    top: 4rem;
    left: 0.4rem;
    text-align: left;
    
}

.carousel-caption h3{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    word-wrap: break-word;
}

.navbar-nav .nav-link{
    color: #1D2257;
    font-weight: 500;
}

.signup-btn, .signin-btn:hover{
    background-color: #1D2257;
}

.signup-btn>a{
    color: #ffffff !important;
}

.signin-btn>a:hover{
    color: #ffffff;
}


.signup-btn, .signin-btn{
    padding: 0px 20px;
}



.nav-link{
    color: #6C63FF;
}

.slider-img {
    width: 100% !important;
    height: 29rem !important;
    object-fit: cover;
}
.tab-pane{
   display: flex;
    justify-content: space-evenly;
}

.workers-btn, .sellers-btn{
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    border: 0px;
    color: #ffffff;
}

.workers-btn{
    background-color: #1D2257;
}

.workers-btn:hover{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgb(180, 177, 177);

}

.sellers-btn{
    background-color: transparent;
    border: 1px solid rgb(180, 177, 177);
}

.sellers-btn:hover{
    background-color: #1D2257;
    border: none;
}

.nav-pills-index{
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#pills-all-tab,
#pills-electrician-tab,
#pills-plumber-tab,
#pills-mechanic-tab,
#pills-Carpenter-tab{
    color: #1D2257;
    font-weight: 500;
}

.nav-pills-index .nav-link.active, .nav-pills-index .show>.nav-link{
    background-color: #1D2257;
    color: #ffffff !important;
}

.card{
    /* padding: 0; */
    height: auto;
}

.card-body p{
    color: #1D2257;
}
.card-body span{
    color: #D6F11F;
}

.workers{
    display: flex !important;
}

@media screen and (min-width: 768px){
    .carousel-caption{
        width: 70%;
        position: absolute;
        top: 3rem;
        left: 2rem;
        text-align: left;
        
    }

    .nav-pills-index{
        width: 70%;
       
    }
}

@media screen and (min-width: 1024px){
    .carousel-caption h3{
        font-size: 3rem;
    }

    .carousel-caption{
        width: 50%;
        position: absolute;
        top: 1rem;
        left: 2rem;
        text-align: left;
        
    }

    .nav-pills-index{
        width: 50%;
    }
}





@media screen and (min-width: 1280px){
    .signin-btn{
        margin-left: 0.6rem;
        margin-right: 1rem;
    }
    .about-us{
        margin-left: 0.6rem;
    }

    .carousel-caption{
        width: 50%;
        position: absolute;
        top: 5rem;
        left: 2rem;
        text-align: left;
        
    }

    .nav-pills-index{
        width: 40%;
        margin: 0 auto;
    }
}




/* workers page */

.img-div{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.img-div img{
    object-fit: cover;
    width: inherit;
    height: inherit;

}

.shadow-sm{
    box-shadow: 1px -3px rgba(0,0,0,.075) !important;
}

.profile h4{
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

.profile button{
    padding: 0.6rem 3.9rem !important;
    border-radius: 10px;
    border: 0px;
    color: #ffffff;
    background-color: #1D2257;
}

.profile p,
.form-h3, 
#pills-feedback{
    color: #1D2257 !important;
}

#pills-about-tab,
#pills-jobs-tab,
#pills-feedback-tab{
    color: #1D2257;
    font-weight: 600;
}

.nav-pills-workers .nav-link.active, .nav-pills-workers .show>.nav-link{
    background-color: #eeee;
    color: #D6F11F !important;
}

.workers-about h5,
.form-h3{
    font-family: 'Playfair Display', serif !important;
}

.workers-about span{
    font-size: 1rem;
    background-color: #eeee;
    padding: 3px 10px;
    border-radius: 20%;
    font-family: 'Montserrat-Regular';

}

.workers-contact{
    background-color: #eeee;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Montserrat-Regular';
}

#hire-me-form,
#signin-form,
#signup-form{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.9);
    border-radius: 20px;
    display: none;
}

#h-form,
#s-form{
    width: calc(100% - 900px);
    margin: auto;
    margin-top: 50px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #f4f6f3;
}

.hire-form-btn{
    background-color: #1D2257;
    color: #ffff;
    
}
.hire-form-btn:hover{
    color: #ffff;
}

.smallPW a{
    text-decoration: none;
    color: #1D2257;
}

.about-us-page{
    width: 90%;
}